  body {
            background:linear-gradient(rgba(255, 0, 0, 0.589),rgba(255, 255, 0, 0.637));
            font-family: Arial, sans-serif;
            background-repeat: no-repeat;
            background-attachment:fixed ;
background-size: cover;
            text-align: center;
        }

    .custom-input {
  font-size: 20px;
  padding: 10px 15px;
  border: 2px solid rgb(233, 33, 33);
  border-radius: 8px;
  outline: none;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.459);
  font-weight: bold;
  width: 250px;
  font-family: 'Poppins', sans-serif;
  margin-top: 22px;
  
}
 
.custom-button {
  color: red;
  background-color: transparent;
  border: 2px solid red;
  padding: 10px 20px;
  border-radius: 8px;
  font: 44px 'Poppins', sans-serif;
  font-weight: bold;
  -webkit-text-stroke: 2px rgba(180, 233, 75, 0.459);
  cursor: pointer;
  transition: all 0.3s ease;
    margin-top: 15px;
}

.custom-button:hover {
  background-color: red;
  color: white;
  -webkit-text-stroke: 0;
}
        